{% extends 'base.html.twig' %}

{% block title %}Permis index{% endblock %}

{% block body %}
    <h1>Permis index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id_permis</th>
                <th>Numero_permis</th>
                <th>Categorie</th>
                <th>Date_delivrance</th>
                <th>Date_expiration</th>
                <th>Etat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for permi in permis %}
            <tr>
                <td>{{ permi.idPermis }}</td>
                <td>{{ permi.numeroPermis }}</td>
                <td>{{ permi.categorie }}</td>
                <td>{{ permi.dateDelivrance ? permi.dateDelivrance|date('Y-m-d') : '' }}</td>
                <td>{{ permi.dateExpiration ? permi.dateExpiration|date('Y-m-d') : '' }}</td>
                <td>{{ permi.etat }}</td> {# Fixed case sensitivity #}
                <td>
                    <a href="{{ path('app_show_permisOne', {'id_permis': permi.idPermis}) }}">Show</a>
                    <a href="{{ path('app_edit_permisOne', {'id_permis': permi.idPermis}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_new_permis') }}">Create new</a>
{% endblock %}
