{% extends 'FrontOffice/base.html.twig' %}
{% set active_page = 'Carte Grise' %}

{% block title %}Carte Grise{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Liste des Cartes Grises</h1>

    <div class="row">
        {% for carte_grise in carte_grises %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{{ asset('img/about.jpg') }}" alt="Image de la carte grise" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ carte_grise.numeroCarteGrise }}</h5>
                        <p class="card-text">
                            <strong>Propriétaire :</strong> {{ carte_grise.proprietaire }} <br>
                            <strong>Adresse :</strong> {{ carte_grise.adresseProprietaire }} <br>
                            <strong>Date d'émission :</strong> {{ carte_grise.dateEmission ? carte_grise.dateEmission|date('Y-m-d') : '' }} <br>
                            <strong>Date d'expiration :</strong> {{ carte_grise.dateExpiration ? carte_grise.dateExpiration|date('Y-m-d') : '' }}
                        </p>
                        <div class="d-flex justify-content-between">
                            <a href="{{ path('app_carte_grise_show', {'id_carte_grise': carte_grise.idCarteGrise}) }}" class="btn btn-primary">Voir détails</a>
<a href="{{ path('app_carte_grise_edit', {'idCarteGrise': carte_grise.getIdCarteGrise()}) }}" class="btn btn-warning">Modifier</a>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-12">
                <p class="text-center">Aucune carte grise trouvée.</p>
            </div>
        {% endfor %}
    </div>

    <div class="text-center mt-4">
        <a href="{{ path('app_carte_grise_new') }}" class="btn btn-success">Créer une carte grise</a>
    </div>
</div>
{% endblock %}
