{% extends 'base.html.twig' %}

{% set active_page = 'home' %}

{% block title %}Reservation index{% endblock %}

{% block content %}
    <h1>Reservation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id_reservation</th>
                <th>Date_reservation</th>
                <th>HeureReservation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id_reservation }}</td>
                <td>{{ reservation.date_reservation ? reservation.date_reservation|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.heureReservation }}</td>
                <td>
                    <a href="{{ path('app_reservation_show', {'id_reservation': reservation.id_reservation}) }}">show</a>
                    <a href="{{ path('app_reservation_edit', {'id_reservation': reservation.id_reservation}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reservation_new') }}">Create new</a>
{% endblock %}
