{% extends 'base.html.twig' %}

{% block title %}Ajouter une Carte Grise{% endblock %}

{% block content %}
<div class="container my-4">
    <h1 class="mb-4">Ajouter une Carte Grise</h1>

    <!-- Affichage des messages flash (erreurs, succès, etc.) -->
    <div class="container">
        {% for label, messages in app.flashes %}
             <div class="alert alert-{{ label == 'error' ? 'danger' : label }}">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    {{ form_start(form) }}
        <div class="mb-3">
            {{ form_label(form.numeroCarteGrise) }}
            {{ form_widget(form.numeroCarteGrise, {'attr': {'class': 'form-control'}}) }}
            <div class="text-danger">{{ form_errors(form.numeroCarteGrise) }}</div>
        </div>

        <div class="mb-3">
            {{ form_label(form.proprietaire) }}
            {{ form_widget(form.proprietaire, {'attr': {'class': 'form-control'}}) }}
            <div class="text-danger">{{ form_errors(form.proprietaire) }}</div>
        </div>

        <div class="mb-3">
            {{ form_label(form.adresseProprietaire) }}
            {{ form_widget(form.adresseProprietaire, {'attr': {'class': 'form-control'}}) }}
            <div class="text-danger">{{ form_errors(form.adresseProprietaire) }}</div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                {{ form_label(form.dateEmission) }}
                {{ form_widget(form.dateEmission, {'attr': {'class': 'form-control'}}) }}
                <div class="text-danger">{{ form_errors(form.dateEmission) }}</div>
            </div>

            <div class="col-md-6 mb-3">
                {{ form_label(form.dateExpiration) }}
                {{ form_widget(form.dateExpiration, {'attr': {'class': 'form-control'}}) }}
                <div class="text-danger">{{ form_errors(form.dateExpiration) }}</div>
            </div>

            <div class="col-md-6 mb-3">
                {{ form_label(form.user) }}
                {{ form_widget(form.user, {'attr': {'class': 'form-control'}}) }}
                <div class="text-danger">{{ form_errors(form.user) }}</div>
            </div>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-success">Ajouter la Carte Grise</button>
        </div>
    {{ form_end(form) }}
</div>
{% endblock %}
